<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
    <small>Copyright &copy; <%= link_to "McCRACKEN.nyc", "http://www.mccracken.nyc", class: "text-white" %></small>
    </div>
</footer>
